# Build cache and artifacts
.gradle
/build

# IntelliJ
.idea/workspace.xml
.idea/misc.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/deploymentTargetDropDown.xml
.idea/assetWizardSettings.xml
.idea/inspectionProfiles
.idea/ktlint.xml
gradle.xml
*.iml

# MacOS
.DS_Store

# Layout inspector captures
captures

# JNI
.externalNativeBuild
.cxx

# Secrets
google-services.json
release.jks
release.keystore
release.properties
secrets.properties
local.properties
